 body{
     display: grid;
     grid-template-columns: 1fr 5fr;
     background-color: rgb(143, 192, 192);

 } 
 img{
    width:45%;
 }

 h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
  }
h3{
    font-family: 'Bungee', cursive;
    letter-spacing: 2px;
}

#localclock{
    font-family: 'Bungee', cursive;
    font-size: 50px;

}

/* nooooot */
#part1{ 
    background-color: rgb(255, 235, 121);

    display: inline-block;
    float: left;
    height: 500px;
}
ul {
    margin-top: 30px;
    display: inline-block;
    cursor: move;
    /* float: left; */
    position: absolute;
    left:1px;
}
li {
    color: rgb(150, 128, 247);
    font-size: 80%;
}
li child { 
    display: inline-block;
}

li:first-child {   
    font-size:85%;
    color: black;
}

input:hover[type='submit'] {
    background-color: rgb(17, 168, 17); 
    border: 0;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
/* nooooooooot */

/* Timer */

#btn1{
    background-color: #4CAF50;
    /* color: white; */
    border-radius: 50%;
    padding: 13px;
}
#btn2{
    background-color: rgb(238, 39, 13);
    /* color: white; */
    border-radius: 50%;
    padding: 13px;

}
#btn3{
    background-color: #e7e7e7;
     color: black;
     border-radius: 50%;
     padding: 13px;
}
#return{
    font-size: 20px;
}

#clockk input{
    height: 30px;
border: 1px solid ;
}
/* Timer */


/* Alarm */

#Alarm{
    border: 5px dashed rgb(8, 32, 8);
    border-radius: 20px;
    padding-bottom: 50px;
    width: 50%;
    height: 100px;
    margin: 15px;
    background-color: rgb(143, 192, 192);
    /* margin: 0 auto; */
    /* background: url('https://www.goodfreephotos.com/albums/other-photos/angel-entering-heaven-with-light.jpg'); */
}

#alarm-h{
    border: 1px solid ;
    height: 25px;

 
}
#alarm-m{
    border: 1px solid ;
    height: 25px;

 
}
/* Alarm */